@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

/*==========Landing section============= */

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  background-color: #455a64;
  background: url("./static/images/icon-bg.svg") no-repeat center center;
  background-size: cover;
}

@keyframes header {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-title,
.header-button {
  text-align: center;
  animation: header 3s;
}

.header-buttons {
  margin-top: 7px;
}

.header-title h3 {
  color: #e7a11a;
  font-weight: 500;
  text-transform: uppercase;
  margin: 7px 0 0 0;
  font-size: 5vh;
}
.header-title h4 {
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
  font-size: 3vh;
  margin: 10px 0 0 0;
}

.profile-img img {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  border: 8px solid #e7a11a;
}
.landing-divider {
  width: 33vh;
  background-color: #e7a11a;
  border-color: #e7a11a;
}

.landing-btn {
  background-color: #e7a11a;
  font-size: 0.8rem;
  color: #2f3847;
  font-weight: 500;
}

header .landing-btn {
  width: 160px;
  animation: header 3s;
  font-size: 14px;
}

.landing-btn:hover,
.landing-btn:focus {
  background-color: #e9aa30;
}

.projects-btn-section,
.yt-btn-section {
  text-align: center;
}

@media (max-width: 600px) {
  .yt-btn-section a {
    margin-top: 10px;
    width: 140px;
  }
  .projects-btn-section a {
    width: 140px;
    font-size: 12px;
  }

  .landing-divider {
    width: 26vh;
  }
}

.header-navigation {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: absolute;
  bottom: 0;
  background-color: #2f3847;
}

.sticky-header-navigation {
  z-index: 100;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  background-color: #2f3847;
}

.header-room {
  padding-top: 3rem !important;
}

.nav-content {
  margin-bottom: 0 !important;
}
.navigation-link {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.navigation-link:hover {
  color: #e7a11a;
}

@media (max-width: 430px) {
  .navigation-link {
    font-size: 10px;
  }
}

/*========= about section========= */

#about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* default styling for timeline component forces date to have .7 opacity  */
/* overriding this here  */
.dateStyle {
  opacity: 0.9 !important;
}

.timeLineContent ul > li {
  list-style: disc!important;
}

.timeLineContent ul {
  padding-left: 2rem;
}

.heading {
  text-align: center;
  padding-top: 1em;
}
.secondary-heading {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: #2f3847;
}

.content {
  color: #2f3847;
  width: 82vw;
  margin: 0 auto;
  text-align: center;
}

.p-link {
  color: #e7a11a;
}

#youtube-section .p-link {
  color: #d19115;
}
.p-link:hover {
  text-decoration: underline;
}

.yt-buttons .landing-btn {
  font-size: 1rem;
}

.timelineItem {
  border-radius: 20px;
}

/*==========stacks section =====*/

#stacks-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 0;
  background-attachment: fixed;
  background: url("./static/images/icon-bg.svg") no-repeat center
    center;
  background-size: cover;
}

.icon {
  font-size: 4rem;
  color: #e7a11a;
}

.stack-box {
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 1.1rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

.stack-box ul li {
  font-size: 15px;
}

.stack-box:hover {
  transform: translateY(-2px);
}

.heading-tertiary {
  display: block;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 7px;
  color: #2f3847;
}

/* =============Portfolio section =========== */

#portfolio-section .content {
  padding-top: 30px;
}

.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 22vw;
}

@media (max-width: 768px) {
  .flip {
    width: 75vw;
  }
}

.flip > .front,
.flip > .back {
  width: inherit;
  color: #fff;
  height: 22.5rem;
  background-attachment: fixed;
  background: url("./static/images/background-plain.png") no-repeat center
    center;
  background-size: cover;
  border-radius: 3px;
  backface-visibility: hidden;
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 1.5s;
  transition-property: transform;
}
.flip > .front {
  transform: rotateY(0deg);
}
.flip > .back {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}

.flip > .front p,
.flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
}

.text-shadow {
  text-shadow: 2px 2px #000;
}

.project-image {
  background: #2f3847;
  border-radius: 3px;
  height: 7rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.project-icon {
  width: 32%;
  position: absolute;
  left: 0;
  top: 0;
}

.project-heading {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  color: #e7a11a;
  position: absolute;
  top: 0;
  right: 1rem;
  width: 70%;
  line-height: 2.2rem;
  margin: 1rem 0 0.912rem 0;
  /* text-shadow: 2px 2px #000; */
}

.project-details {
  color: #000;
  text-align: center;
  padding: 2rem 3rem;
}

.project-details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  color: #000;
}

.project-details li {
  font-size: 16px;
  padding: 0.5rem;
  color: #2f3847;
}

.project-details li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.back-box {
  height: 100%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  background: #2f3847;
}

.project-desc {
  text-align: center;
}

.project-desc span {
  font-size: 1.2rem;
}

.projects {
  text-align: center;
}

.portfolio-buttons {
  margin-top: 10px;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-desc-mobile {
  margin-top: 10px;
  color: #2f3847;
  font-size: 16px;
  padding: 0 10px;
}

.mobile-built-with {
  margin-top: 10px;
  color: #e7a11a;
  text-transform: uppercase;
  font-size: 16px;
}

.portfolio-buttons-mobile {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.portfolio-buttons-mobile .landing-btn {
  margin: 5px;
}

@media (max-width: 374px) {
  .portfolio-buttons-mobile {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
  .portfolio-buttons-mobile a:last-child {
    margin-top: 10px;
  }
}

@media (min-width: 992px) {
  .flip:hover > .front {
    transform: rotateY(180deg);
  }
  .flip:hover > .back {
    transform: rotateY(0deg);
  }
  .project-desc-mobile {
    display: none;
  }

  .mobile-built-with {
    display: none;
  }

  .portfolio-buttons-mobile {
    display: none;
  }
}
@media (max-width: 992px) {
  .project-heading {
    text-align: left;
    width: 100%;
    left: 1rem;
  }

  .project-image {
    clip-path: none;
    height: 6rem;
  }

  .project-details {
    padding: 0 3rem;
  }

  .flip {
    width: 75vw;
  }

  .flip > .front,
  .flip > .back {
    height: auto;
    padding-bottom: 20px;
  }
}

@media (max-width: 1120px) and (min-width: 995px) {
  .flip {
    width: 18rem;
  }
}

/*=============== youtube section ================ */

#youtube-section {
  padding-top: 10px;
  padding-bottom: 20px;
  background: url("./static/images/email-pattern.png");
}

#youtube-section .content {
  margin-top: 20px;
}

.yt-description {
  text-align: center;
}

.yt-description p {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 20px;
}

.yt-logo {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .yt-logo,
  .yt-buttons {
    text-align: center;
  }
}
.yt-logo img {
  width: 30vh;
  border: 2px solid gray;
  border-radius: 5px;
}

i.right {
  margin-left: 5px;
}

.yt-videos {
  text-align: center;
}

.video-one {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-one iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2.5px solid #2f3847;
}

/* ============ contact section =========== */
.contact {
  color: #bdbdbd;
  background: url("./static/images/footer-background.webp") no-repeat center
    center;
  background-size: cover;
}

#contact-section .secondary-heading {
  color: #e7a11a;
}
#contact-section .row {
  margin-bottom: 0;
}

.contacts-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.contact-heading {
  font-size: 1.4rem;
  padding: 1rem 0;
}

.secondary-heading-small {
  text-transform: uppercase;
  color: #e7a11a;
  font-size: 2vh;
}

input,
textarea {
  color: #bdbdbd;
}

input[type="text"]:focus {
  border-bottom: 1px solid #e65100;
}

button[type="submit"] {
  margin-left: 10px;
  border-radius: 3px;
  font-weight: 600;
  border: none;
  background: #e7a11a;
  color: #2f3847 !important;
  text-transform: uppercase;
  display: inline-block;
}

button[type="submit"]:disabled {
  background: #ebb448 !important;
  color: #fff !important;
}

.submit-btn-section {
  text-align: center;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
  background: #e9aa30;
}

.contact-links {
  display: flex;
  /* margin-top: 20px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-image img {
  width: 22vh;
  height: 22vh;
  border-radius: 50%;
  border: 2px solid #e7a11a;
}

.links {
  display: flex;
  justify-content: center;
  /* border-top: 2px solid #e7a11a; */
  /* margin-top: 15px; */
  margin-bottom: 1em;
  padding: 13px;
  width: fit-content;
}

.profile-link {
  color: #bdbdbd;
  padding: 5px;
  transition: all 0.1s ease-in-out;
  margin: 5px;
}

.social-link {
  text-align: center;
  margin-top: 10px;
}

.profile-link:hover {
  color: #e7a11a;
}

.black-background {
  position: relative;
  background: #bdbdbd !important;
  border-radius: 3px !important;
  font-size: 1.2rem;
  font-weight: 400;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
}

.toast-body {
  color: #000;
}

.toast-progress-bar {
  background: #26a69a !important;
}

toast-details {
  display: flex;
  width: 100vh !important;
  position: absolute;
  top: 0;
}

@media (max-width: 660px) {
  .contact-heading {
    font-size: 1.4rem;
    padding: 1rem 2rem;
  }
}

footer {
  display: flex;
  justify-content: center;
  background: #2f3847;
  padding: 10px 0;
}

/* ======= Not found page ======  */

* {
  box-sizing: border-box;
}

.not-found-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("./static/images/background-plain.png") no-repeat center
    center;
  background-size: cover;
}

.not-found-message span {
  color: #2f3847;
  font-weight: 400;
  font-size: 3vh;
}

.not-found-image img {
  width: 35vw;
}

.not-found-message,
.not-found-link {
  margin-top: 10px;
}

.go-back {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
